.article-page{
padding:24px;
// background:#fff;
min-height:100%;
}
.article-header{
  display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}
.upload{
  margin-left: 20px;
}

.trash-page{
  padding: 24px;
  .trash-page-title{
     display: flex;
     justify-content: space-between;
  }
}
