.category-page{
  padding: 24px;
   .category-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
}

.category-form{
padding:24px;
// .ant-card{
// max-width:1000px;
// }
}

.restore-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}