.category-page {

max-width:1000px;

padding:40px;

background:#f5f7fa;

min-height:100vh;

margin:0 auto;



.category-title {


font-size:32px;

font-weight:700;

margin-bottom:30px;


}



.category-list {


width:800px;

margin:0 auto;


display:flex;

flex-direction:column;


gap:20px;


}



.category-item {


height:100px;


border-radius:12px;


transition:.3s;



.ant-card-body{


height:100%;

padding:0 30px;


display:flex;

align-items:center;

justify-content:space-between;


}



&:hover{


transform:
translateX(8px);


box-shadow:
0 8px 20px rgba(0,0,0,.1);


}


}



.category-left{


display:flex;

align-items:center;

gap:30px;


}



.category-name{


font-size:24px;

font-weight:600;

color:#222;


}



.category-desc{


color:#666;

font-size:15px;


.ant-tag{


margin:0 5px;


}

}



.category-arrow{


font-size:18px;

color:#1677ff;


}


}