.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  height:60px;
}

.user-info{
  display:flex;
  align-items:center;
  cursor:pointer;
}
.username{
  margin-left:10px;
  font-size:14px;
}

.header-title{
  font-size:18px;

  font-weight:600;
}

.role{

 font-size:12px;

 color:#999;

}