.article-detail{


max-width:900px;

margin:30px auto;

.preview-wrapper{
  display: flex;
  justify-content: center;
}

.article-info{

display:flex;

justify-content: center;

gap:20px;

color:#888;

margin:20px 0;

}

.article-cover-wrapper{
  width:100%;
  display:flex;
  justify-content:center;
}

.article-cover{

width:700px;

height:400px;

object-fit:cover;

border-radius:12px;

margin-bottom:20px;


}

.article-content{


font-size:16px;

line-height:2;


white-space:pre-line;


}


}

.article-switch{

 margin-top:30px;

 display:flex;

 justify-content:space-between;


 button{

  max-width:300px;

  overflow:hidden;

  text-overflow:ellipsis;

  white-space:nowrap;

 }

}

.recommend-card{

 margin-top:30px;


}

.recommend-item{

 padding:12px 0;

 cursor:pointer;

 border-bottom:1px solid #eee;

 &:hover{

  color:#1677ff;

 }

}