.article-detail{


max-width:900px;

margin:30px auto;



.article-info{

display:flex;

justify-content: center;

gap:20px;

color:#888;

margin:20px 0;

}



.article-content{


font-size:16px;

line-height:2;


white-space:pre-line;


}


}

.article-switch{

 margin-top:30px;

 display:flex;

 justify-content:space-between;


 button{

  max-width:300px;

  overflow:hidden;

  text-overflow:ellipsis;

  white-space:nowrap;

 }

}