.siderBar{
  width:240px;
  height:100vh;
  background-color:white;
}

.logo{

  height:64px;

  display:flex;

  justify-content:center;

  align-items:center;
  color:rgb(0, 0, 0);
  font-size:20px;

}
