.article-detail{

 max-width: 1000px;

 margin:40px auto;


}


.article-detail .ant-card{

 border-radius:12px;

}

.markdown-body{
font-size:16px;

line-height:2;
}


.article-meta{
  display: flex;
  justify-content: center;
}
.article-detail h1{

 text-align:center;

}