.article-detail{

 width:900px;

 margin:40px auto;


}


.article-detail .ant-card{

 border-radius:12px;

}

.article-meta{
  display: flex;
  justify-content: center;
}
.article-detail h1{

 text-align:center;

}