.comment-list{
 margin-top:40px;
}
.comment-list .ant-card{

 border-radius:12px;

}

.comment-list .ant-card:hover{

 box-shadow:0 4px 12px rgba(0,0,0,.08);

}

.comment-sort{
  display: flex;
  gap:10px;
  margin-bottom: 20px;
  .ant-btn-link{
    color:#999;
  }
  .active{
  color:#1677ff !important;
}

}
